<div class="plant">
	<p> 
		Name: <%= @plant.name %> <br>
		Length: <%= @plant.length %> <br>
		Width: <%= @plant.width %> <br>
		Area: <%= @plant.area %> <br>
		Volume: <%= @plant.volume %> <br>
	</p>
<div> 