<%= form_for [current_user, @address] do |f| %> 
	<%= f.error_messages %>
	<p>
		<%= f.label :address_1 %>
		<%= f.text_field :address_1 %>
	</p>
	<p>
		<%= f.label :address_2 %>
		<%= f.text_field :address_2 %>
	</p>
	<p>
		<%= f.label :city %>
		<%= f.text_field :city %>
	</p>
	</p>
		<%= f.label :state %> 
		<%= f.text_field :state %>
	</p>
	</p>
		<%= f.label :zip %> 
		<%= f.text_field :zip %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %> 
